#container {
    display: flex;
    font-family: Arial, sans-serif;
}

#container img {
    width: 50%;
    aspect-ratio: 4/3;
    margin-right: 20px;
}

#details {
    padding: 20px;
}

#details h1, #details p {
    padding-bottom: 20px;
    color: #000000;
    font-family: Arial, sans-serif;
}

#details #price {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: max-content;
}

#details button {
    display: block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: 100%;
}

nav {
    display: flex;
    padding: 20px;
    align-items: center;
}

nav button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-right: 20px;
}

nav button:last-child {
    margin-right: 0;
}
