:root {
    --primary-color: #f2f2f2; /* Gris clair */
    --secondary-color: #fff; /* Blanc */
    --highlight-color: #0f0; /* Vert */
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul li a {
    color: var(--highlight-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
