:root {
    --primary-color: #8CB561; /* Vert */
    --secondary-color: #F6EFE2; /* Beige */
    --highlight-color: #000000; /* Noir */
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    padding: 20px;
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

nav ul li a {
    color: var(--highlight-color);
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: none;
}

nav ul li a:hover {
    color: var(--secondary-color);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
}

.col {
    flex: 0 1 calc(33.33% - 2em); 
    margin: 1em;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    padding: 1em;
    background-color: var(--secondary-color);
}

.col img {
    width: 100%;
    height: auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}

footer {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    padding: 20px;
    text-align: center;
    margin-top: 24px;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--highlight-color);
    text-align: center;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex: 1 1 100%;
    }
}
