body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 20px;
    align-items: center;
}

nav button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-right: 20px;
}

nav button:last-child {
    margin-right: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#bikeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.bike {
    flex: 1 0 30%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.bike.lineView {
    flex: 1 0 100%;
}

.bike img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
